[submodule "harfbuzz-icu-freetype"]
	path = harfbuzz-icu-freetype
	url = https://github.com/kyawkyaw/harfbuzz-icu-freetype.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/kyawkyaw/glfw.git
[submodule "glew-cmake"]
	path = glew-cmake
	url = https://github.com/kyawkyaw/glew-cmake.git
