[submodule "harfbuzz-icu-freetype"]
	path = harfbuzz-icu-freetype
	url = git@github.com:kyawkyaw/harfbuzz-icu-freetype.git
[submodule "glfw"]
	path = glfw
	url = git@github.com:kyawkyaw/glfw.git
[submodule "glew-cmake"]
	path = glew-cmake
	url = git@github.com:kyawkyaw/glew-cmake.git
